<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%# <script charset="utf-8" src="js/app.js"></script>
    <link rel="stylesheet" href="css/app.css" /> %>
</head>
<body>
  <h1>Stupid Coaching</h1>
  <div class="youu">
    <p><%= @answer_you %></p>
    <ul><li>You</li></ul>
  </div>
  <div class ="coachh">
    <p><strong><%= @answer_coach %></strong></p>
    <ul><li>Your coach</li></ul>
  </div>
  <div class = "linky">
    <%= link_to "Ask a new question", ask_path %>
  </div>
</body>
</html>